
.bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
	margin-top:50px;
	padding-top: 50px;
    padding-bottom: 30px;
}
.bg-5{
	background-image:url("demo.jpeg");
}
body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #585555;
	font-family: courier new, sans-serif;
}
.row{
	padding-top:50px;
	padding-bottom:50px;
	padding-left:30px;
	padding-right:30px;

}

.jumbotron {
    font-family: courier new, sans-serif;
}
.logoq {
	margin-right: 1em;
}
.navbar {
    font-family: courier new, sans-serif;
}